@model List<CtrlZLife.Models.Commit>
@{
    var repos = ViewBag.Repos as List<CtrlZLife.Models.Repo>;
}
<h3>Repos</h3>

@foreach (var r in repos)
{
<a href="/?repoId=@r.Id">@r.Name</a>

}

<a href="/">All</a>

<hr />

    <h1> Ctrl+Z life </h1>
    <p> track life changes like commits</p>

    <form method="post" asp-action="AddCommit">
        <input name ="message" placeholder="Commit message" required/>
        <br /> <br />

    <input name="reason" placeholder="Reason" />
    <br /><br />

    <input name="impact" placeholder="Impact" />
    <br /><br />

    <input name="tag" placeholder="Tag" />
    <br /><br />
    <select name="repoId" required>
        @foreach (var r in repos)
        {
            <option value="@r.Id">@r.Name</option>
        }
    </select>

    <br /><br />

    <button type="submit">Commit</button>
    </form>

    <h3> Commit History</h3>
    @if (Model.Count==0)
{
    <p> no commits yet :(</p>
}
else
{
    @foreach(var c in Model)
    {
        <div style="margin-bottom:10px;">
            <strong>@c.Message</strong><br />
            Reason: @c.Reason<br/>
            Impact: @c.Impact<br />
            Tag: @c.Tag<br />
            Repo: @repos.First(r => r.Id == c.RepoId).Name <br />
            <small>@c.Date</small>
            
        </div>
    }
}
